<% layout('layouts/boilerplate') %>
<h1>All Articles</h1>
<div>
	<a class="btn btn-dark" href="/articles/new">Publish Article</a>
</div>
<% for (let article of articles){ %>
	<div class="card mb-3">
		<div class="row">
			<div class="col-md-4">
				<img class="img-fluid" alt="" src="<%= article.image %>">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title"><%= article.title %></h5>
					<p class="card-text"><%= article.content %></p>
					<a class="btn btn-dark" href="/articles/<%= article._id %>">Read <%= article.title %></a>
				</div>
			</div>
		</div>
	</div>
<% } %>